version: "3"
vault:
  app_id: Canguru # Simple app name, in case of phone and tablet add a specifier e.g Multiplus-phone, Multiplus-tablet
project_path: "Source" # relative path to xcodeproj file or Android path
apk:
  path: "Source/app/build/outputs/apk"
  gradleTask: "assembleRelease" # MUST start with 'assemble' - https://github.com/fastlane/fastlane/blob/3c98d41df1b04c3a8ca906e24d836262c2abea98/fastlane/lib/fastlane/actions/gradle.rb#L55-L56
travis:
  tag: <%= ENV['GIT_TAG_NAME'] %> # current tag. Should be empty if current build is not a tag
  build: <%= ENV['BUILD_NUMBER'] %> # current CI build number.
env:
  staging:
    hockeyapp:
      file: "app-staging-release.apk"
      token: <%= ENV['HOCKEYAPP_API_TOKEN_STAGING'] %> # HockeyApp Staging APP API Token
      tags: # HockeyApp tags array to enabled user access
        - "taqtile"
  production:
    hockeyapp:
      file: "app-production-release.apk"
      # file: "app-drawer-production-release.apk"
      token: <%= ENV['HOCKEYAPP_API_TOKEN_PRODUCTION'] %> # HockeyApp Production APP API Token
      tags: # HockeyApp tags array to enabled user access
        - "taqtile"
