@font-face {
    font-family: WorkSans;
    src: url("file:///android_asset/fonts/WorkSans.ttf");
}
body {
    font-family: WorkSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    color: #2A2A2A;
    margin: 0;
}
#staticScreens {
  padding-top: 32px;
}
p {
    font-size: 14px;
    line-height: 1.33;
    margin: auto auto 1.5em;
    padding-left: 16px;
    padding-right: 16px;
}
